body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bodycolor);
}

.nav {
    width: 200px;
    background-color: var(--navcolor);
    width: 100px;
    position: fixed;
    text-align: center;
    height: 100%;
    transition: max-width 0.4s ease-in 0s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top:0;
}


hr {
    width: 62px;
    max-width: 62px;
    height: 2px;
    background-color: var(--acolor);
    margin: auto;
    border: none;
    margin-bottom: 32px;
    transition: max-width 0.4s ease-in 0s;
  }

.nav-text {
    text-decoration: none;
    color: var(--acolor);
    font-weight: 500;
    size: 10px;
    Line-height :19.5px;
    padding: 10px;
    display: none;}


.logo{
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 16px;
    margin-top: 52px;
}

.icon{
    width: 25px;
    height: 25px;  
  
}
div:last-child > .icon {
    width: 40px;
    height: 25px;
}

/* nav > div > .img:hover + .nav-text{
    display:inline-block;
}
*/

 .nav div{
    padding: 15px;
    
}



footer {
    color: var(--footercolor);
    text-align: center;
    font-size: 11px;
    padding: 11px 0;
    margin-top: 20px;
    
}
.footer-text {
    width: 30%;
    margin: auto;
   text-align: center;
   border-top: 1px solid var(--footercolor);
   

}



nav > div:hover {
    background: #FFFFFF;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;

}

nav:hover .nav-text{
    display: inline;
    transition: all 5s ease;
    width:206px;

    

}
.nav:hover hr {

    width: 128px;
    max-width: 128px;
}

nav:hover {
    width: 206px;
}


.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 80%;
    margin: 20px auto;
    
}
.hello{
   
    font-size: 36px;
    line-height: 44px ;
    margin-left: 10px ;
  
    
}

.time {
   
    background-color: whitesmoke;
    
    border-radius: 25px;
    padding: 10px 60px 12px 60px;
    margin-left: 40px ;
   
    
}

.time h2{
    font-size: 36px;
    line-height: 44px ;
    color: var(--footercolor) ;
   
    
}
.time p{
    font-size: 24px;
    line-height: 44px;
    
}

.container2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work-img{
}

.container3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 49px auto;
    flex-basis: 80%;
}

.bottom-text{
    
    justify-content: center;
    font-size: 16px;
    border: 2px solid var(--footercolor);
    box-sizing: border-box;
    border-radius: 25px;
    padding: 49px 185px;
    text-align: center;

}
@media (max-width: 575px) {
    .container1{
        flex-direction: ;
    }
    .container2{

    }
    .container3{
        display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 49px auto;
    flex-basis: 90%;
    margin-left: 100px;


    }
    .bottom-text{
    
        justify-content: center;
        font-size: 16px;
        border: 2px solid var(--footercolor);
        box-sizing: border-box;
        border-radius: 25px;
        text-align: center;
    
    }
}

.CalPage{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
    width: 80%;
    margin: 20px 50px 0 120px;
    overflow: hidden;

}
@media (max-width: 991px) {
    .CalPage {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 30px;
        width: 80%;
        
    }
  }
  
  @media (max-width: 767px) {
    .CalPage {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 30px;
        width: 80%;
        
    }
  }
  
  @media (max-width: 575px) {
    .CalPage {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 30px;
        width: 70%;
        
    }
    
  }
.tasks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.tasks div{
    background-color: white ;
    border-radius: 15px;
    padding: 25px 10px 25px 42px;

}
.tasks h1{
    font-size: 26px;
    font-weight: bolder;
    padding: 0px 0px 5px 0px;

}

.tasks p{
    color: #C4C4C4;
    padding: 0px 0px 15px 0px;
}
.Line{
    background-color : red;
    height: 10px;
    border-radius: 10px;
    width:200px;
    text-align: left;
    margin:0;
    max-width: 100px;
}
.color1{

}
.color2{
    background-color : yellow;
}
.color3{
    background-color : greenyellow;
}

.newCalendar{
    background-color: white ;
    border-radius: 15px;
    padding: 20px ;

}



@media (max-width: 575px) {
    .newCalendar{
    grid-row-start: 1;
}}

.plius {
    background-color: var( --footercolor) ;
    border-radius: 50%;
    color: white;
    padding: 10px 20px;
    border: none;
}
.plius span{
    font-size: 30px;
    
}
.plius:hover{
    cursor: pointer;
}
@media (max-width: 575px) {
    .plius{
    float:right;
    margin-right: 10px;
}}